table{
    width: 100%;
}
table,th{
    color:white;
    background-color:black;
    border: 1px solid black;
    text-align: center;
    padding: 2px;
    font-size:25px;
}
.form{
    text-align:center;

}
h7,.form{

    font-size: 30px;
}
.thank{
    text-align:center;
    background-color:rgb(50,50,50);
    color:rgb(255,255,0);
    font-size:100px;
}
#feed{
    text-align:center;
}
.blog{
    font-size:25px;
    font-family:"Times new Roman";
}